/*   <---- Mobile Ansicht: 320px ---->   */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #18181A;
  background-color: #131F2D;
}

section {
  padding: 24px 16px;
}

header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(10, 10, 10, 0.1);
  padding: 10px;
}

header .logo .logo-mobile {
  display: block;
}

header .logo .logo-desktop {
  display: none;
}

header .logo img{
  width: 70px;
  height: auto;
  display: block;
  margin: 0 9px 0px 0px;
}

header .navigation{
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: block;
  height: 40px;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: large;
}

header .cta{
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #E2A125;
  height: 45px;
  width: 120px;
  border-radius: 5px;

  text-decoration: none;
  font-weight: bold;
  color: white;
}

main .hero {
  background-image: url("../images/mainpage/Background-Image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;

  font-weight:lighter;
  color: white;
}

main .hero .cta{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #E2A125;
  height: 45px;
  width: 165px;
  border-radius: 5px;

  text-decoration: none;
  font-weight: bold;
  color: white;
}

main .about{
  background-color: white;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  list-style-image: none;
}

.about img{
  width: auto;
  max-width: 400px;
  height: 250px;
}

main .about-content ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
   gap: 10px;
}

main .about-content li{
  display: flex;
  align-items: flex-start; /* statt center */
  gap: 10px;
  line-height: 1.4;
}

main .about-content li::before {
  margin-top: 3px;
  content: "";
  width: 16px;
  height: 16px;

  background-image: url("../images/icons/Icon_Check.png");
  background-size: contain;
  background-repeat: no-repeat;

  flex-shrink: 0;
}

main .about-content .descText{
  font-size: 11pt;
}

main .about-content .headerText{
  font-size: 15pt;
}

main .header{
  text-align: center;
}

main .core-competencies{
  background-color: #F1F0F5;
}

main .core-competencies ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

main .competencies-grid{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

main .competencies-tile{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13px;
  text-align: center;
  border-radius: 10px;
  min-height: 200px;
  max-width: 370px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

main .competencies-grid h2{
  font-size: 12pt;
}

main .competencies-grid img{
  width: 40px;
  height: 40px;
}

main .trust-section{
  background-color: #1F2D41;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

main .trust-section hr{
  width: 370px;
  color: rgba(255, 255, 255, 0.2);
}

footer .footer-imprint {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 20px;
}

footer .footer-imprint .logo img{
  width: 100%;
  height: auto;
}

footer .footer-imprint hr {
  justify-self: center;
  width: 1px;
  height: 135px;
}

footer .footer-imprint .links {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding-left: 20px;
}

footer .links div {
  display: flex;
  align-items: center;
  gap: 13px;
}

footer .links img {
  width: 20px;
  height: 20px;
}

footer .footer-grid {
  color: white;
  padding: 0px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer .footer-cta{
  background-color: #263D57;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

footer .footer-cta a{
  background-color: #E2A125;
  padding: 17px;
  border-radius: 10px;
  max-width: 300px;
}

footer .footer-bottom{
  color: white;
  display: flex;
  flex-direction: column;
}

footer .footer-socials{
  display: flex;
  flex-direction: column;
  justify-content: start;
}

footer .footer-socials img{
  width: 70px;
  height: 70px;
}

footer .footer-socials .socials{
  display: flex;
  gap: 30px;
}

/*   <---- Tablet Ansicht: 768px ---->   */

@media (min-width: 768px) {

  header .logo .logo-mobile {
  display: none;
  }

  header .logo .logo-desktop {
    display: block;
  }

  header .logo img{
    width: 200px;
  }

  main .about{
      flex-direction: row;
      gap: 20px;
  }

  main .about img{
    height: auto;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  main .competencies-grid{
    flex-direction: row;
    gap: 15px;
  }

  main .competencies-tile{
    height: 270px;
    width: 550px;
  }

    main .trust-section{
    flex-direction: row;
  }

    main .trust-section hr{
    width: 1px;
    height: 70px;
  }

  footer .footer-grid {
  color: white;
  padding: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

  footer .footer-bottom{
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  footer .footer-socials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}


/*   <---- Desktop Ansicht: 1024px ---->   */

@media (min-width: 1024px){

  header{
    height: 100px;
  }

  header .logo .logo-mobile {
  display: none;
  }

  header .logo .logo-desktop {
    display: block;
  }

  header .logo img{
    width: 200px;
  }

  header .navigation{
    display: flex;
    gap: 40px;
    flex-direction: row;
  }

  header .nav-link{
    padding: 25px;
    cursor: pointer;
  }

  header .cta{
    height: 55px;
    width: 120px;
    margin: 0px 10px 0px 0px;
  }

  main .competencies-grid{
    flex-direction: row;
    gap: 30px;
  }

  main .competencies-tile{
    height: 220px;
    width: 550px;
  }

}