.services{
    background-color: #E3E3EA;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: start;
}

.card-text{
    padding-left: 20px;
}

.card-text h2{
    margin-top: 12px;
}

.services-cards ul{
    text-align: start;
}

/*   <---- Tablet Ansicht: 768px ---->   */
@media (min-width: 768px) {


}

/*   <---- Desktop Ansicht: 1024px ---->   */
@media (min-width: 1024px){
.services-cards{
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

}