/* BASIS */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    font-weight: 600;
    color: white;

    border: 0;
    cursor: pointer;

    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease,
        background 0.2s ease;
}

.btn:hover {
    transform: translateY(-2px);
}

.btn-primary {
    padding: 12px 18px;

    border-radius: 12px;

    background: linear-gradient(
        135deg,
        #E2A125,
        #d99800
    );

    box-shadow:
        0 4px 12px rgba(0,0,0,0.25);
}

.btn-primary:hover {
    box-shadow:
        0 6px 16px rgba(0,0,0,0.35);
}

.btn-hero {
    width: 175px;
    height: 45px;

    border-radius: 8px;

    background: #E2A125;

    font-weight: 700;
}

.btn-footer {
    padding: 17px;

    border-radius: 10px;

    background: #E2A125;

    max-width: 300px;
    width: 100%;
}

.btn-contact{
        background: linear-gradient(
        135deg,
        #E2A125,
        #d99800
    );

        width: 100%;
        height: 45px;

        border-radius: 10px;

        box-shadow:
        0 4px 12px rgba(0,0,0,0.25);
}

/*   <---- Tablet Ansicht: 768px ---->   */
@media (min-width: 768px) {

}

/*   <---- Desktop Ansicht: 1024px ---->   */
@media (min-width: 1024px){

    .cta{
        height: 55px;
        width: 120px;
        margin: 0px 10px 0px 0px;
  }
}